[Unit]
Description=Radar Obstacle Detection Service (C++ Version)
After=network.target can_setup.service
Requires=can_setup.service

[Service]
User=root
WorkingDirectory=/usr/local/etc/connect_radar_for_drone
ExecStart=/usr/local/etc/connect_radar_for_drone/build/radar_app -r 50 -a 1001 -b 500 -G 192.168.0.29 -P 14550 -d /usr/local/etc/connect_radar_for_drone/blackbox
Restart=always 
RestartSec=3

[Install]
WantedBy=multi-user.target
